name: CMake

on: [push]

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Clone fork of Lord-Kamina's performous repo
      uses: actions/checkout@v2
      with:
        ref: newest_win_branch

    - name: Clone Lord-Kamina's fork of performous-mxe
      uses: actions/checkout@v2
      with:
        repository: Lord-Kamina/performous-mxe
        path: win32/performous-mxe
        ref: update-files

    - name: Clone Lord-Kamina's fork of mxe
      uses: actions/checkout@v2
      with:
        repository: Lord-Kamina/mxe
        path: win32/performous-mxe/mxe
        ref: performous

    - name: copy build settings and patches
      shell: bash
      run: |
        cp win32/mxe/settings.mk win32/performous-mxe/mxe/settings.mk
        echo >> win32/performous-mxe/mxe/settings.mk
        echo "MXE_PLUGIN_DIRS :=  plugins/performous" >> win32/performous-mxe/mxe/settings.mk
        mkdir -p win32/performous-mxe/mxe/plugins/performous
        cp win32/performous-mxe/performous.mk win32/performous-mxe/mxe/plugins/performous
        cp win32/performous-mxe/performous-1-fixes.patch win32/performous-mxe/mxe/plugins/performous

        # patch in snapshot checksum JIT
        curl -LO http://www.portaudio.com/archives/pa_snapshot.tgz
        export NEW_CHECKSUM=`openssl dgst -sha256 pa_snapshot.tgz | awk '{print $2}'`
        echo patching in $NEW_CHECKSUM
        python -c "
        import sys
        import re

        mk = 'win32/performous-mxe/mxe/src/portaudiodev.mk'

        with open(mk) as f:
          body = []
          for line in f.readlines():
            if '_CHECKSUM' in line:
              line = re.sub(':= [0-9a-zA-Z]+', ':= ' + os.environ['NEW_CHECKSUM'], line)
            body.append(line)

        with open(mk, 'w') as f:
          for line in body:
            f.write(line)
        "
        cat win32/performous-mxe/mxe/src/portaudiodev.mk

    - name: Install build dependencies
      run: sudo apt-get install autoconf automake autopoint bash bison bzip2 flex g++ g++-multilib gettext git gperf intltool libc6-dev-i386 libgdk-pixbuf2.0-dev libltdl-dev libssl-dev libtool-bin libxml-parser-perl lzip make openssl p7zip-full patch perl python ruby sed unzip wget xz-utils scons

    - name: Cache mxe
      uses: actions/cache@v2
      env:
        cache-name: cache-dependencies
      with:
        path: |
          performous/win32/performous-mxe/mxe
        key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('win32/performous-mxe/mxe/settings.mk') }}
        restore-keys: |
          ${{ runner.os }}-build-${{ env.cache-name }}-
          ${{ runner.os }}-build-
          ${{ runner.os }}-

    - name: Build mxe
      shell: bash
      working-directory: win32/performous-mxe/mxe
      run: make -j4 performous
      env:
        PERFORMOUS_SOURCE: ${{runner.workspace}}/performous

    - name: Show build results
      working-directory: ${{runner.workspace}}/performous
      shell: bash
      run: "find . -type f -name '*.exe'"
